{{#each partition}}
<div id="{{@key}}" class="{{@key}} partition row">
    <div class="col-md-12">
        <h2>{{this.name}}</h2>
    </div>
</div>
{{/each}}

{{#each item}}
<div class="{{this.name}}-block block col-md-12">
    <h3>{{this.name}}</h3>
    <div class="version">
        <div class="form-group">
            <label class="col-md-1">Version</label>
            <div class="col-md-11">
                <select class="form-control">
                    {{#each_reverse this.children}}
                    <option value="{{this.name}}">{{this.name}}{{#if-key-last}} - latest version{{/if-key-last}}</option>
                    {{/each_reverse}}
                </select>
            </div>

        </div>
    </div>

    {{#each_reverse this.children}}
    <div class="folder {{this.name}} {{#if-key-last}}active{{/if-key-last}} ">
        {{#each_reverse this.children}}
        {{#if-value this.type value="file"}}
        <div class="form-group">
            <label class="col-md-1">{{this.state}}</label>
            <div class="col-md-7">
                <input class="form-control" value="&#60;script src='{{url this.path}}'&#62;&#60;/script&#62;">
            </div>
            <div class="col-md-2"><button id="{{this.name}}-copy" class="btn copy init-btn">Copy</button></div>
            <div class="col-md-2"><button id="{{this.name}}-select" class="btn select init-btn">Select</button></div>
        </div>

        {{/if-value}}
        {{/each_reverse}}
    </div>

    {{/each_reverse}}
</div>

{{/each}}

